{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load socialaccount %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
    {% block title %}
    <title>
         Sign Up
    </title>
    {% endblock %}
{% block content %}

<div class="container">
  <div class="col-8 offset-2 mt-5 mb-5">

<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

  <div class="socialaccount_ballot">
  
    <ul class="socialaccount_providers">
      <a href="{% provider_login_url 'google' %}" class="btn btn-outline-dark btn-lg btn-block" role="button" aria-pressed="true">
          <div class="left">
              <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
          </div>
          Sign Up with Google</a>
      <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-danger btn-lg btn-block" role="button" aria-pressed="true">
          <div class="left">
              <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
                  src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Facebook_icon_2013.svg" />
          </div>
          Sign Up with Facebook</a>
    </ul>
  
    <div class="login-or"><hr></div>
  
  </div>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

  </div>
</div>
{% endblock %}
